@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts css start */
@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-BlackItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-BoldItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-ThinItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Thin.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-LightItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Black.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Italic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("../src/assets/fonts/Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bangers";
  src: url("../src/assets/fonts/Bangers-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Bangers-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* fonts css end */

/* global css start */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #000;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgba(2, 2, 1, 0.1) 0%,
    rgba(16, 17, 14, 0.1) 100%
  );
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.1) inset;
}

body::-webkit-scrollbar-thumb {
  background: var(
    --Gradient-5,
    linear-gradient(180deg, #99ffa3 0%, #68ee76 100%)
  );
  outline: 0.5px solid #fff;
  border-radius: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
  width: 90%;
}

/* global css end */

/* banner css start */
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 549px;
  width: 100%;
  background: linear-gradient(180deg, rgba(2, 2, 1, 0) 0%, #020201 100%);
  z-index: 1;
}
/* banner css end */
